.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-body {
  margin-top: -300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toast-buttons {
  display: flex;
}

.toast-buttons button {
  font-size: 16px;
  width: 100px;
  height: 50px;
  margin: 0 10px;
  border: none;
  outline: none;
}

.select {
  display: inline;
  width: 30%;
  margin-top: 10px;
  text-align: left;
}

.position-select {
  background-color: inherit;
  color: #fff;
  width: 100%;
  height: 30px;
  font-size: 16px;
}

option {
  color: black;
}

.success {
  background-color: #008000;
  color: #fff;
}

.success:hover {
  color: #000;
  background-color: #218838;
  border-color: #1e7e34;
}

.danger {
  background-color: #d50000;
  color: #fff;
}

.danger:hover {
  color: #000;
  background-color: #c82333;
  border-color: #bd2130;
}

.info {
  background-color: #8cd2e7;
  color: #000;
}

.info:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.warning {
  background-color: #f4d03f;
  color: #000;
}

.warning:hover {
  color: #fff;
  background-color: #e0a800;
  border-color: #d39e00;
}
